# Global ignores
.env
*.env
*.log
*.pid
*.sock

# Docker
docker-data/
*.db

# IDE / Editor configs
.vscode/
.idea/
*.swp

nginx/
Docker-Compose.yml


# Ignore Node.js
node_modules/
dist/
build/

API_Testing/